In [1]:
import pandas as pd

## Reading Data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   98.220082         1   97          1           1              1
1  101.174894         1   54          1           0              1
2  101.913318         0   70          1           0              1
3  101.052983         0   45          1          -1              0
4  101.396548         0   23          0           1              0

In [4]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2570  101.652965         0   73          1           0              0
2571  100.747503         0   56          1          -1              0
2572   98.819822         1   66          0           0              1
2573  101.245322         1   66          0           1              0
2574   99.993122         0   45          0           1              1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2575 non-null   float64
 1   bodyPain       2575 non-null   int64
 2   age            2575 non-null   int64
 3   runnyNose      2575 non-null   int64
 4   diffBreath     2575 non-null   int64
 5   infectionProb  2575 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 120.8 KB

In [6]:
df['diffBreath'].value_counts()

 0    877
 1    864
-1    834
Name: diffBreath, dtype: int64

In [7]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000
mean,100.011220,0.509903,50.840777,0.518447,0.011650,0.497087
std,1.143712,0.499999,28.552170,0.499757,0.812119,0.500089
min,98.000599,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.046887,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,100.036514,1.000000,50.000000,1.000000,0.000000,0.000000
75%,101.010854,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.999670,1.000000,100.000000,1.000000,1.000000,1.000000

## Train TestSplitting

In [8]:
import numpy as np

In [9]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [10]:
np.random.permutation(7)

array([5, 1, 6, 0, 3, 2, 4])

In [11]:
train, test = data_split(df, 0.2)

In [12]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1703  100.975264         1   42          0           1              0
1675   99.566007         1   23          0           0              1
1518   99.563109         0    8          0          -1              0
361    99.113537         1    6          0          -1              1
1544   98.165194         1   78          1          -1              0
...          ...       ...  ...        ...         ...            ...
1638  101.479890         0   74          1           0              0
1095   98.120798         1  100          0          -1              1
1130   99.346041         1   82          1           1              0
1294   99.451257         1   13          1          -1              0
860   100.057796         1   35          0           1              0

[2060 rows x 6 columns]

In [13]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1644   98.079317         0   96          0           1              0
1189  101.306360         1   89          1          -1              1
495   100.751068         0   20          1           1              1
1656  100.846759         0    1          0           0              0
651    99.202613         0   51          0          -1              1
...          ...       ...  ...        ...         ...            ...
1627  101.078373         0   62          1          -1              1
471   101.223340         0   24          0           1              1
700   100.674026         0   91          1          -1              0
25     99.132002         1   19          1           0              1
755    98.393804         0   46          0          -1              0

[515 rows x 6 columns]

In [14]:
X_train = train[['fever', 'bodyPain','age','runnyNose','diffBreath']].to_numpy()
X_test = test[['fever', 'bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [15]:
Y_train = train[['infectionProb']].to_numpy().reshape(2060,)
Y_test = test[['infectionProb']].to_numpy().reshape(515,)

In [16]:
Y_train

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
inputFeatures = [100, 1, 22, -1, 1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [20]:
infProb

0.4760977947481585